*{
    margin: 0;
    padding: 0;
}

.background {
    object-fit: cover; /* -- vai ser usado para cobrir tudo -- */
    z-index: -1;
    position: absolute;
}

.janela{
    z-index: 2;
    background-color: #f9f5e7;
}